<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">index.hbs dosyasından Merhaba!</h4>
                <p class="card-text">Gelen parametre değeri: {{isim}}</p>
            </div>
        </div>
    </div>
</div>
